.metadata
/Code/Projekt Rupert/.settings
/Code/Projekt Rupert/bin
/Code/Projekt
/Code/Projekt Rupert/.project
/Code/RemoteSystemsTempFiles
/Code/Projekt Rupert/.classpath
/Anforderungsspezifikation/*.db
Thumbs.db
activemq-data
